<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <springProperty scope="context" name="application" source="spring.application.name"/>

  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <batch>
      <maxItems>100</maxItems>
      <timeoutMs>1000</timeoutMs>
    </batch>
    <http>
      <url>http://loki:3100/loki/api/v1/push</url>
    </http>
    <labels>
      app = ${application}
      host = ${HOSTNAME}
      service_name=${application}
      level=%level
    </labels>
    <structuredMetadata>
      level = %level,
      thread = %thread,
      class = %logger,
      traceId = %mdc{traceId:-none},
      spanId = %mdc{spanId:-none}
    </structuredMetadata>
    <message>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </message>
  </appender>

  <root level="INFO">
    <appender-ref ref="LOKI" />
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
